@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

@font-face {
    font-family: 'impact_label_reversedregular';
    src: url('../fonts/impact_label_reversed-webfont.woff2') format('woff2'),
         url('../fonts/impact_label_reversed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'impact_labelregular';
    src: url('../fonts/impact_label-webfont.woff2') format('woff2'),
         url('../fonts/impact_label-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --principal_color: 24, 37, 170;
    --principal_color_dark: 18, 36, 114;
    --font_color: 51, 51, 51;
    --white: 255, 255, 255;
    --top_bottom_gap: 45px;
    --sides_gap: 30px;
}

html, body{
    box-sizing: border-box;
    color: rgb(var(--font_color));
    font-family: 'Cutive Mono', monospace;
    text-align: justify;
    height: 100%;
    font-size: 14px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'impact_labelregular';
    color: rgb(var(--principal_color));
    font-size: 5rem;
    text-align: center;
    line-height: 1.25;
}

h2 {
    color: rgb(var(--principal_color));
    font-size: 3.5rem;
    text-align: center;
}

h3 {
    color: rgb(var(--principal_color));
    font-size: 2.75rem;
}

h3.member_name {
    font-family: 'impact_labelregular';
}

h3.story_title {
    text-align: center;
}

h4 {
    font-size: 2rem;
    color: rgb(var(--principal_color));
}

h4.story_author {
    font-family: 'impact_labelregular';
    text-align: center;
}

p {
    font-size: 1.25rem;
}

p.significant {
    color: rgb(var(--principal_color));
}

p.story_tags {
    color: rgb(var(--principal_color));
    text-align: center;
}

a {
   color: rgb(var(--principal_color)); 
   text-decoration: none;
}

a:hover {
   color: rgb(var(--principal_color_dark)); 
}

iframe {
    width: 100%;
}

header {
    background: url('../images/background.png') no-repeat top / cover;
}

header h1 {
    color: rgba(var(--white), .75);
}

header .main_description {
    background: rgba(var(--principal_color), .75);
}

header .main_description p {
    color: rgb(var(--white));
    padding: 1em 5em;
    text-align: center;
}

header .down {

}

header .down p {
    text-align: center;
    color: rgba(var(--white), .75);
}

.align_right {
    direction: rtl;
}

.centered {
    text-align: center;
}

.big {
    font-size: 2em;
}