@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

@font-face {
    font-family: 'impact_label_reversedregular';
    src: url('../fonts/impact_label_reversed-webfont.woff2') format('woff2'),
         url('../fonts/impact_label_reversed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'impact_labelregular';
    src: url('../fonts/impact_label-webfont.woff2') format('woff2'),
         url('../fonts/impact_label-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --principal_color: 24, 37, 170;
    --principal_color_dark: 18, 36, 114;
    --font_color: 51, 51, 51;
    --white: 255, 255, 255;
}

html, body{
    box-sizing: border-box;
    color: var(--font_color);
    font-family: 'Cutive Mono', monospace;
    text-align: justify;
    height: 100%;
    font-size: 14px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'impact_labelregular';
    color: rgb(var(--principal_color));
    font-size: 5rem;
    text-align: center;
}

h2 {
    color: rgb(var(--principal_color));
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
    margin-bottom: 1.5em;
}

p.significant {
    color: rgb(var(--principal_color));
}

.align_right {
    direction: rtl;
}

.centered {
    text-align: center;
}

/* 

.landing {
    background: linear-gradient(rgba(var(--principal_color), .5), rgba(var(--principal_color), .5)), url('/images/bg.jpg') no-repeat top / cover;
    display: grid;
    grid-gap: 15px 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.landing h1 {
    color: rgba(var(--white), .8);
    grid-column: 1 / 11;
    grid-row: 2;
}

.landing .description {
    grid-column: 4 / 8;
    background: rgb(var(--principal_color));
    grid-row: 3;
}

.landing .description p {
    color: rgb(var(--white));
    padding: .75em 4em;
    text-align: center;
} */