@media (min-width: 768px) {

	h1, h2 {
		font-size: 7.5vw;
	}

	nav.header p {
		display: none;
	}

	.header_menu ul {
	    display: flex;
	    justify-content: space-around;
	}

	.header_menu ul li {
	    margin-bottom: 0;
	}

	nav.header:hover .header_menu ul,
	nav.header:focus .header_menu ul {
	    flex-direction: inherit;
	}

	header .main_description p {
	    padding: 1em 5em;
	}

	main{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		padding: 0 7.5vw;
	}

	input[type="number"] {
	    width: 30%;
	}

	.remarkable {
		grid-column: 1 / 3;
	}

	.title {
		grid-column: 1 / 3;
	}

	.half-left {
		grid-column: 1;
	}

	.half-right {
		grid-column: 2;
	}

	.full {
		grid-column: 1 / 3;
	}

	.miembro {
		grid-column: 1 / 3;
	    flex-direction: row;
	}

	.miembro .image {
		flex: 6;
		margin-right: calc(var(--sides_gap)/2);
	}

	.miembro .description {
		flex: 5;
		margin-left: calc(var(--sides_gap)/2);
	}

	h3.member_name,
	h4.rol {
	    text-align: justify;
	}

	.relato .multimedia {
	    flex-direction: row;
	    align-items: center;
	}

	.relato .multimedia > div {
	    margin: 15px;
	}

	nav.footer p {
		display: none;
	}

	.footer_menu ul {
	    display: flex;
	    justify-content: space-around;
	}

	.footer_menu ul li {
	    margin-bottom: 0;
	}

	nav.footer:hover .footer_menu ul,
	nav.footer:focus .footer_menu ul {
	    flex-direction: inherit;
	}
}