body {
	background: purple;
}

h1 {
    font-size: 10vw;
}

header {
	grid-template-rows: repeat(6, auto);
	grid-template-columns: 1fr;
	grid-gap: var(--top_bottom_gap) var(--sides_gap);
	display: grid;
    align-items: center;
    height: 100vh;
}

header h1 {
	grid-row: 2;
}

header .main_description {
	grid-row: 3;
}

header .down {
	grid-row: 4;
}

main {
    display: grid;
    grid-gap: var(--top_bottom_gap) var(--sides_gap);
    align-items: center;
    grid-template-columns: 1fr;
    width: 100vw;
    padding: 0 2.5vw;
}