@media (min-width: 992px) {
	body {
		background: yellow;
	}

	h1 {
		font-size: 6vw;
	}

	header {
		grid-template-columns: repeat(4, 1fr);
	}

	header h1 {
		grid-column: 1 / 5;
	}

	header .main_description,
	header .down {
		grid-column: 2 / 4;
	}

	main {
		padding: 0 10vw;
	}
}