@media (min-width: 992px) {

	h1 {
		font-size: 6vw;
	}

	.header_menu ul {
		width: 75%;
	}

	header {
		grid-template-columns: repeat(4, 1fr);
	}

	header h1 {
		grid-column: 1 / 5;
	}

	header .main_description,
	header .down {
		grid-column: 2 / 4;
	}

	main {
		padding: 0 10vw;
	}

	.relato {
	    display: grid;
	    grid-gap: var(--top_bottom_gap) var(--sides_gap);
	    grid-template-columns: repeat(2, 1fr);
	}

	.relato .about {
		grid-column:  1 / 3;
	}

	.relato .content {
		grid-column: 1;
	}

	.relato .multimedia {
		grid-column: 2;
	}

	.relato .hashtags {
		grid-column: 1 / 3;
	}


	.relato .multimedia {
	    flex-direction: column;
	}

	.footer_menu ul {
		width: 75%;
	}

}