@media (min-width: 768px) {
	body {
		background: blue;
	}

	h1 {
		font-size: 7.5vw;
	}

	main{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		padding: 0 7.5vw;
	}

	.remarkable {
		grid-column: 1 / 3;
	}

	.title {
		grid-column: 1 / 3;
	}

	.half-left {
		grid-column: 1;
	}

	.half-right {
		grid-column: 2;
	}

	.full {
		grid-column: 1 / 3;
	}

	.miembro {
		grid-column: 1 / 3;
	    flex-direction: row;
	}

	.miembro .image {
		flex: 6;
		margin-right: calc(var(--sides_gap)/2);
	}

	.miembro .description {
		flex: 5;
		margin-left: calc(var(--sides_gap)/2);
	}

	h3.member_name,
	h4.rol {
	    text-align: justify;
	}

	.relato .multimedia {
	    flex-direction: row;
	}

	.relato .multimedia > div {
	    margin: 15px;
	}
}