
h1, h2 {
    font-size: 10vw;
}

nav.header p {
    cursor: pointer;
}

.header_menu ul {
    display: none;
}

nav.header:hover .header_menu ul,
nav.header:focus .header_menu ul {
    display: flex;
    flex-direction: column;
}

.header_menu ul li{
    margin-bottom: 2rem;
}

header {
	grid-template-rows: repeat(6, auto);
	grid-template-columns: 1fr;
	grid-gap: var(--top_bottom_gap) var(--sides_gap);
	display: grid;
    align-items: center;
    height: 75vh;
}

header h1 {
	grid-row: 3;
}

header .main_description {
	grid-row: 4;
}

header .main_description p {
    padding: 1em 2em;
}

header .down {
	grid-row: 5;
    font-size: 3em;
}

main {
    display: grid;
    grid-gap: var(--top_bottom_gap) var(--sides_gap);
    align-items: center;
    grid-template-columns: 1fr;
    width: 100vw;
    padding: 0 2.5vw;
}

h3.member_name,
h4.rol {
    text-align: center;
}

.miembro {
    display: flex;
    flex-direction: column;
}

.miembro div {

}

form .wpcf7-form {
    width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
}

input[type="number"] {
    width: 50%;
}

textarea {
    height: 20rem;
}

.relato .multimedia {
    display: flex;
    flex-direction: column;
}

.relato .multimedia > div {
    flex: 1;
    margin: 15px 0;
}

nav.footer p {
    cursor: pointer;
}

.footer_menu ul {
    display: none;
}

nav.footer:hover .footer_menu ul,
nav.footer:focus .footer_menu ul {
    display: flex;
    flex-direction: column;
}

.footer_menu ul li{
    margin-bottom: 2rem;
}