html, body{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

@supports not (--foo: green) {
	html, body{
		color: rgb(51, 51, 51);
	}

	h1, h2, h3, h4, h5.author_age, p.significant, p.story_tags, a {
	    color: rgb(24, 37, 170);
	}

	a:hover {
	   color: rgb(18, 36, 114); 
	}

	a.btn {
		background: rgb(24, 37, 170);
	}

	nav.header {
	    color: rgba(255, 255, 255, .75);
	    background: rgba(24, 37, 170, .75);
	}

	.header_menu ul li a {
	    color: rgba(255, 255, 255, .75);
	}

	.header_menu ul li a:hover {
	    color: rgb(255, 255, 255);
	}

	.header_menu ul li.current-menu-item a {
	    border-bottom: 1px solid rgb(255, 255, 255);
	    color:rgb(255, 255, 255);
	}

	header h1,
	header h1 a,
	header h1 a:hover {
	    color: rgba(255, 255, 255, .75);
	}

	header .main_description {
	    background: rgba(255, 255, 255, .75);
	}

	header .main_description p {
	    color: rgb(255, 255, 255);
	}

	header .down p {
	    color: rgba(255, 255, 255, .75);
	}

	input[type="submit"] {
	    background: rgb(24, 37, 170);
	}

	.relato {
	    border-bottom: 1px solid rgb(24, 37, 170);
	}

	nav.footer {
	    border-top: 1px solid rgba(24, 37, 170, .75);
	    color: rgba(24, 37, 170, .75);
	}
	
	.footer_menu ul li a {
	    color: rgba(24, 37, 170, .75);
	}

	.footer_menu ul li a:hover {
	    color: rgb(24, 37, 170);
	}

	.footer_menu ul li.current-menu-item a {
	    border-bottom: 1px solid rgb(24, 37, 170);
	    color: rgb(24, 37, 170);
	}

	header {
		grid-gap: 45px 30px;
	}


	main {
	    grid-gap: 45px 30px;
	}

	@media (min-width: 768px) {
		.header_menu ul li {
		    border-right: 1px solid rgba(255, 255, 255, .75);
		}

		.miembro .image {
			margin-right: calc(30px/2);
			margin-left: calc(30px/2);
		}

		.footer_menu ul li {
		    border-right: 1px solid rgba(24, 37, 170, .75);
		}
	}

	@media (min-width: 992px) {
		.relato {
		    grid-gap: 45px 30px;
		}
	}

}

@supports not (display: grid) {
	header {
		display: flex;
		flex-direction: column;
	    justify-content: center;
	    padding-top: 125px;
	}

	header > * {
		margin: 0 30px;
	}

	header .main_description {
		margin-top: 45px;
		width: 100%;
	}

	main *{
	    display: inline-block;
	}

	main .remarkable {
		width: 100%;
		text-align: center;
	}

	main > .half-left,
	main > .half-right {
		width: 100%;
	}

	.title,
	.full,
	.miembro {
		margin-top: 45px;
		width:  100%;
	}

	div.wpcf7 {
		width: 100%;
	}

	form {
		display: block;
		width: 100%;
	}

	form * {
		display: block;
	}

	form span {
		display: inline;
	}

	@media (min-width: 576px) {

		header .main_description,
		header .down {
			width: 83.33333333333334%;
		}
	}

	@media (min-width: 768px) {
		main > .half-left,
		main > .half-right {
			width: calc(50% - 15px);
			vertical-align: middle;
			margin-top: 45px;
		}
	}

	@media (min-width: 992px) {
		header .main_description,
		header .down {
			width: 50%;
		}

		.relato {
		    display: flex;
		    flex-wrap: wrap;
		}

		.relato .about > *{
			display: block;
		}

		.relato .about,
		.relato .hashtags {
			width: 100%;
		}

		.relato .content,
		.relato .multimedia {
			width: calc(50% - 15px);
			margin-top: 45px;
		}

		.relato .content {
			margin-right: 15px;
		}

		.relato .multimedia {
			margin-left: 15px;
		}

		.relato .hashtags {
			margin-top: 45px;
		}
	}
}

@supports not (direction: rtl) {
	.align_right {
	    text-align: right;
	}
}